*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
table{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
}

.active-nav{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 45px;
}

.site-header {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
    line-height: 120%;
    color: #E6533C;
}

.navbar ul li {
    list-style: none;
    display: inline;
    /* padding: 0 23px; */
    padding-right: 47px;
}

.navbar ul li:last-child {
    padding-right: 30px;
}

.navbar ul {
    border: 1px solid #ffffff1a;
    border-radius: 39px;
    border: 1px solid #3d3d3d;
    padding: 10px 0px;
}

.hero-section {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    max-width: 349px;
    max-height: 580px;
}

.hero-content h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 78px;
    line-height: 120%;
}

.hero-content h2 span {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    font-size: 78px;
    line-height: 120%;
}

.hero-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
}

.hero-cta {
    margin-top: 40px;
}

.join-club,
.join-now {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 46px;
    background-color: #E6533C;
    border-radius: 42px;
    margin-right: 10px;
}

.download-app {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 40px;
}

.hero-section-img {
    position: relative;
}

.hero-img-left-content {
    position: absolute;
    bottom: 0%;
}

.hero-img-left-content {
    position: absolute;
    bottom: 17%;
    left: -35%;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 50%;

}

.hero-content {
    max-width: 520px;
}

.hero-img-right-content {
    position: absolute;
    top: 20%;
    right: -20%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 193px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.circle-content h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.circle-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.hero-img-right-content h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-left: 12%;
}

.hero-img-right-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 12%;
}

.change-habit-section {
    margin-bottom: 100px;
}

.change-habit-section > h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

.change-habit-section > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-gallery {
    display: flex;
    align-items: center;
    margin-top: 58px
}

.habit-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habit-inner img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-inner p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.habit-inner h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 6px;
}

.run-extra-mile-section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #222222;
    border-radius: 18px;
    padding: 40px 55px;
    margin-bottom: 100px;
}

.extra-mile-content {
    max-width: 400px;
}

.extra-mile-content h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 15px;
}

.extra-mile-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 45px;
}

.training-exercise-section h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
}

.training-exercise-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 670px;
}

.training-exercise-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.exercise-gallery-item img {
    max-width: 250px;
}

.gallery-item-1 img{
    max-width: 250px;
    height: 200px;
}

.gallery-item-2 img{
    max-width: 520px;
    height: 200px;
}

.gallery-item-3 img{
    max-width: 290px;
    height: 200px;
}

.training-exercise-section {
    margin-bottom: 100px;
}

.bmi-section{
    margin-bottom: 88px;
}

.bmi-calculation-section-wrap {
    background-color: #222222;
    margin-bottom: 88px;
}

.bmi-inner {
    max-width: 670px;
    margin: 0 auto;
}

.bmi-inner h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 15px;
}

.bmi-inner p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculation-section {
    display: flex;
    justify-content: space-between;
    padding: 49px 0px 52px 0px;
}

.calculate-bmi {
    max-width: 577px;
}

.bmi-calculator-chart h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 52px;
}

.bmi-calculator-chart table {
    border-collapse: collapse;
}


.bmi-calculator-chart table th,
.bmi-calculator-chart table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    text-align: left;
}

.calculate-bmi h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 20px;
}

.calculate-bmi p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
}

input#height,
input#weight,
input#age,
input#sex {
    width: 212px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    margin-bottom: 12px;
    margin-right: 12px;
}

input#sex::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}

input#activity-factor {
    width: 87%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    margin-bottom: 12px;
    margin-right: 12px;
}

input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.bmi-form button {
    background: #E6533C;
    border-radius: 42px;
    padding: 16px 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    margin-top: 34px;
    cursor: pointer;
}

.our-team-section h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

.our-team-section > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 670px;
    margin: 0 auto;
}

.team-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 97%;
    margin: 0 auto;
}

.team-members {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image.png);
  }

.team-members img {
    width: 326px;
    height: 272px;
    border-radius: 18px;
    object-fit: cover;
}

.team-members h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 8%;
}

.team-members p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 85%;
    left: 8%;
}