*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
table,
ul li{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
}

.active-nav{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 45px;
}

.site-header {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
    line-height: 120%;
    color: #E6533C;
}

.navbar ul li {
    list-style: none;
    display: inline;
    /* padding: 0 23px; */
    padding-right: 47px;
}

.navbar ul li:last-child {
    padding-right: 30px;
}

.navbar ul {
    border: 1px solid #ffffff1a;
    border-radius: 39px;
    border: 1px solid #3d3d3d;
    padding: 10px 0px;
}

.hero-section {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    max-width: 349px;
    max-height: 580px;
}

.hero-content h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 78px;
    line-height: 120%;
}

.hero-content h2 span {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    font-size: 78px;
    line-height: 120%;
}

.hero-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
}

.hero-cta {
    margin-top: 40px;
}

.join-club,
.join-now {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 46px;
    background-color: #E6533C;
    border-radius: 42px;
    margin-right: 10px;
}

.download-app {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 40px;
}

.hero-section-img {
    position: relative;
}

.hero-img-left-content {
    position: absolute;
    bottom: 0%;
}

.hero-img-left-content {
    position: absolute;
    bottom: 17%;
    left: -35%;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 50%;

}

.hero-content {
    max-width: 520px;
}

.hero-img-right-content {
    position: absolute;
    top: 20%;
    right: -20%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 193px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.circle-content h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.circle-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.hero-img-right-content h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-left: 12%;
}

.hero-img-right-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 12%;
}

.change-habit-section {
    margin-bottom: 100px;
}

.change-habit-section > h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

.change-habit-section > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-gallery {
    display: flex;
    align-items: center;
    margin-top: 58px
}

.habit-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habit-inner img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-inner p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.habit-inner h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 6px;
}

.run-extra-mile-section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #222222;
    border-radius: 18px;
    padding: 40px 55px;
    margin-bottom: 100px;
}

.extra-mile-content {
    max-width: 400px;
}

.extra-mile-content h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 15px;
}

.extra-mile-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 45px;
}

.workout-plan {
    max-width: 800px;
    margin: 0 auto;
    background-color: #292929;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 88px;
}

.workout-plan h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; 
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.workout-plan table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.workout-plan th, .workout-plan td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.workout-plan th {
    background-color: #e22d00;
    color: white;
    text-transform: uppercase;
}


.workout-plan td {
    color: #ffffff;
}

.training-exercise-section h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
}

.exercise-gallery-item {
    margin-bottom: 20px;
    position: relative;
}

.training-exercise-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 625px;
    position: absolute;

}

.exercise-gallery-item.gallery-item-4 p {
    top: 10%;
    right: 5%;
}

.exercise-gallery-item.gallery-item-5 p,
.exercise-gallery-item.gallery-item-6 p {
    bottom: 10%;
    left: 10%;
}

.exercise-gallery-item.gallery-item-3 p {
    bottom: 10%;
    left: 10%;
    color: #ffffff;
}

.training-exercise-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 110px;
}

.exercise-gallery-item.gallery-item-1 p {
    bottom: 10%;
    left: 10%;
}

.exercise-gallery-item img {
    width: 100%;
    height: 200px;
}

.gallery-item-1 img{
    max-width: 100%;
    height: 200px;
}

.exercise-gallery-item.gallery-item-1 p {
    color: #000000;
}

.overlay-aqua {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #06FFD2;
    opacity: 30%;
}

.overlay-red {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FF0000;
    opacity: 30%;
}

.overlay-gray {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 30%;
}

.overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 50%;
}

.overlay-green {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #42FF00;
    opacity: 30%;
}

.overlay-blue {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #0047FF;
    opacity: 30%;
}



.gallery-item-2 img{
    max-width: 100%;
    height: 200px;
}

.exercise-gallery-item.gallery-item-2 p {
    top: 10%;
    left: 10%;
}

.gallery-item-3 img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.exercise-gallery-item.gallery-item-1 {
    width: 25%;
}
.exercise-gallery-item.gallery-item-2 {
    width: 45%;
}

.exercise-gallery-item.gallery-item-3 {
    width: 30%;
}

.exercise-gallery-item.gallery-item-4 {
    width: 45%;
}

.exercise-gallery-item.gallery-item-5 {
    width: 25%;
}

.exercise-gallery-item.gallery-item-6 {
    width: 30%;
}


.training-exercise-section {
    margin-bottom: 100px;
}

.bmi-section{
    margin-bottom: 88px;
}

.bmi-calculation-section-wrap {
    background-color: #222222;
    margin-bottom: 88px;
}

.bmi-inner {
    max-width: 670px;
    margin: 0 auto;
}

.bmi-inner h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 15px;
}

.bmi-inner p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculation-section {
    display: flex;
    justify-content: space-between;
    padding: 49px 0px 92px 0px;
}

.calculate-bmi {
    max-width: 577px;
}

.bmi-calculator-chart h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 52px;
}

.bmi-calculator-chart table {
    border-collapse: collapse;
}


.bmi-calculator-chart table th,
.bmi-calculator-chart table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    text-align: left;
}

.bmi-calculator-chart table th {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.bmi-calculator-chart table td {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
}

.calculate-bmi h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 20px;
}

.calculate-bmi p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
}

.bmi-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.input-container {
    position: relative;
}

input#height,
input#weight,
input#age,
input#sex,
input#activity-factor {
    width: 212px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    border: none;
    margin-bottom: 12px;
    margin-right: 12px;
    color: white;
}

input#activity-factor {
    width: 200%;
}

.activity-factor-icon {
    right: -120% !important;
}

.input-container i {
    position: absolute;
    right: 20px; /* Adjust the position from the right */
    top: 40%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6); /* Match placeholder color */
    pointer-events: none; /* Prevent icon from interfering with input */
}

input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.bmi-form button {
    background: #E6533C;
    border-radius: 42px;
    padding: 16px 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    margin-top: 34px;
    cursor: pointer;
    position: absolute;
    bottom: -50%;
}

.our-team-section h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

.our-team-section > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 670px;
    margin: 0 auto;
}

.team-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 97%;
    margin: 0 auto;
    margin-top: 58px;
}

.team-members {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image.png);
  }

.team-members img {
    width: 326px;
    height: 272px;
    border-radius: 18px;
    object-fit: cover;
}

.team-members h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 8%;
}

.team-members p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 85%;
    left: 8%;
}

.our-team-section {
    margin-bottom: 88px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
    padding-bottom: 79px;
}

.footer-logo h2 {
    font-style: italic;
    font-weight: 800;
    font-size: 70px;
    line-height: 120%;
    color: #E6533C;
}

.footer-left p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 445px;
}

.footer-middle h3,
.footer-right h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-middle ul li,
.footer-right ul li {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 50%;
    margin-bottom: 20px;
}

.footer-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 35px 0px;
    border-top: 2px solid #ffffff2c;
}

.nav-mobile {
    display: none;
}

.nav-mobile i {
    color: #ffffff;
}

@media screen and (max-width: 576px) {
    .nav-mobile {
        display: block;
    }
    .navbar {
        display: none;
    }
    .hero-section,
    .habit-gallery,
    .run-extra-mile-section,
    .footer-top,
    .bmi-calculation-section {
        flex-direction: column;
    }
    input#height, input#weight, input#age, input#sex {
        width: 75px;
    }
    input#activity-factor {
        width: 90%;
    }
    .activity-factor-icon {
        right: -11% !important;
    }
    .site-body {
    padding: 0 6%;
}
    .site-header {
        padding: 0 6%;
        margin: 52px 0;
    }
    .hero-content h2,
    .hero-content h2 span {
        font-size: 36px;
        max-width: 274px;
    }
    .hero-img-right-content {
        top: 10%;
        right: -10%;
    }
    .hero-img-left-content {
        bottom: 40%;
        left: -5%;
    }
    .hero-content p {
        font-size: 16px;
        line-height: 24px;
        max-width: 274px;
    }
    .join-club, .join-now {
        font-size: 18px;
        line-height: 22px;
        padding: 14px 25px;
    }
    .download-app {
        padding: 14px 25px;
    }
    .hero-section {
        margin-bottom: 0px;
    }
    .habit-gallery {
        gap: 40px   ;
    }
    .habit-inner p {
        width: 55%;
    }
    .extra-mile-content h2 {
        font-size: 32px;
    }
    .extra-mile-content p {
        font-size: 14px;
    }
    .join-now {
        position: relative;
        display: block;
        width: 75%;
        text-align: center;
    }
    .run-extra-mile-section {
        gap: 31px;
    }
    .extra-mile-img {
        margin: 0 auto;
    }
    .training-exercise-gallery {
        margin-top: 160px;
    }
    .training-exercise-section p {
        max-width: 330px;
        margin-top: 15px;
    }
    .exercise-gallery-item.gallery-item-3,
    .exercise-gallery-item.gallery-item-6 {
        display: none;
    }
    .exercise-gallery-item {
        margin-bottom: 0px;
    }
    .exercise-gallery-item.gallery-item-1 {
        width: 45%;
    }
    .exercise-gallery-item.gallery-item-2 {
        width: 55%;
    }
    .exercise-gallery-item.gallery-item-4 {
        width: 40%;
    }
    .exercise-gallery-item.gallery-item-5 {
        width: 60%;
    }
    .bmi-calculation-section-wrap {
        padding: 0px 40px;
    }
    .bmi-calculation-section {
        gap: 42px ;
    }
    .bmi-form button {
        position: relative;
    }
    .training-exercise-section h2 {
        font-size: 32px;
    }
    .training-exercise-section p {
        font-size: 14px;
    }
    .bmi-inner h2 {
        font-size: 32px;
    }
    .bmi-inner p {
        font-size: 14px;
    }
    .bmi-section {
        margin-bottom: 30px;
    }
    .our-team-section h2 {
        font-size: 32px;
    }
    .team-gallery {
        justify-content: center;
    }
    .team-member-1,
    .team-member-4 {
        display: none;
    }
    .footer-top {
        gap: 30px;
    }
    .footer-bottom p {
        text-align: left;
    }
    .extra-mile-img img {
        width: 100%;
    }
    .workout-plan th, .workout-plan td {
        padding: 12px 2px;
    }
}